<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="comFBListener.MyListener"></listener>
	</listeners>
	
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.FB.qa.testcases.LoginTest"/>
      <class name="com.FB.qa.testcases.Test_Fb_Add_Story"/>
      <class name="com.FB.qa.testcases.SignUpTest"/>
      <class name="com.FB.qa.testcases.HomePageWatch"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
